[Unit]
Description="HashiCorp Waypoint - An application deployment solution"
Documentation=https://www.waypointproject.io/
Requires=network-online.target
After=docker.service
Requires=docker.service
After=network-online.target

[Service]
Type=notify
User=waypoint
Group=waypoint
ExecStart=/usr/bin/waypoint install -platform=docker -accept-tos -context-set-default 
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target