[Unit]
Description="A solution for creating a backup of the Waypoint state."
Documentation=https://www.waypointproject.io/
Wants=waypoint_cron.timer
After=waypoint.service
Requires=waypoint.service


[Service]
Type=simple
User=waypoint
Group=waypoint
ExecStart=/usr/bin/backup_cron.sh

[Install]
WantedBy=multi-user.target